<ng-container *ngIf="state.vm$ | async as vm">
  <div class="flex py-3 px-8 justify-between items-center bg-gray-800 shadow-sm">
    <section class="flex items-center">
      <div
        class="h-8 w-8 bg-white text-blue-500 rounded-full border-2 border-gray-400 flex items-center justify-center text-xs"
      >
        <ng-content select="[app-label]"></ng-content>
      </div>
      <input
        placeholder="Search or jump to..."
        class="ml-4 h-6 px-2 text-sm rounded bg-gray-900 text-gray-200 focus:outline-none focus:shadow-outline"
      />
    </section>
    <section class="flex justify-center items-center">
      <mat-icon
        class="cursor-pointer mr-4"
        matBadge="3"
        matBadgeColor="primary"
        matBadgeSize="small"
        svgIcon="notification"
      ></mat-icon>
      <button class="mr-4 focus:outline-none flex items-center">
        <mat-icon svgIcon="add"></mat-icon>
      </button>
      <button class="focus:outline-none flex items-center"
        (click)="state.toggleUserMenu()"
        cdkOverlayOrigin
        #userMenu="cdkOverlayOrigin"
      >
        <span
          class="h-8 w-8 rounded-full text-blue-500 bg-white border-2 border-gray-400 flex items-center justify-center text-xs"
        >
          {{ vm.me | userAvatar:'NA' }}
        </span>
      </button>
    </section>
  </div>
  <ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="userMenu"
    [cdkConnectedOverlayOpen]="vm.isOpenUserMenu"
    [cdkConnectedOverlayOffsetY]="8"
    (overlayOutsideClick)="$event.stopImmediatePropagation(); state.toggleUserMenu();"
  >
    <section class="flex flex-col rounded-lg bg-gray-800 w-48 border border-gray-900">
      <div class="p-3 text-gray-200 flex flex-col border-b border-gray-900">
        <span>Signed in as</span>
        <span class="font-semibold text-gray-100">{{ 'NA' }}</span>
      </div>

      <ul class="py-3 text-gray-200 flex flex-col">
        <li class="px-3 py-1 cursor-pointer hover:bg-blue-400">Your profile</li>
        <li class="px-3 py-1 cursor-pointer hover:bg-blue-400">Your repositories</li>
        <li class="px-3 py-1 cursor-pointer hover:bg-blue-400">Your organizations</li>
        <li class="px-3 py-1 cursor-pointer hover:bg-blue-400">Your projects</li>
        <li class="px-3 py-1 cursor-pointer hover:bg-blue-400">Your starts</li>
        <li class="px-3 py-1 cursor-pointer hover:bg-blue-400">Your gists</li>
      </ul>
    </section>
  </ng-template>
</ng-container>


